@import '../../style/global.scss';

$firstColor:rgba(44, 214, 236, 0.829);
$secondColor: rgba(78, 4, 66, 0.822);
$thirdColor: rgba(0, 0, 0, 0.7);
$forthColor: rgba(236, 135, 76, 0.596);
$fifthColor: rgba(19, 47, 122, 0.7);

.disclaimer{
  margin-top: 60px;
  margin-left: 20px;
  font-size: 12;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
* {
	margin: 0;
	padding: 0;
}
.hero {
	height: 100vh;
	background: linear-gradient(45deg, $firstColor, $secondColor, $thirdColor, $forthColor , $fifthColor) 0 0 / 1000% no-repeat, url(./imglht5.jpg) 0 0 / cover no-repeat;
	-webkit-animation: gradientAnimation 40s ease infinite;
  animation: gradientAnimation 40s ease infinite;
  transform: matrix(-1, 0, 0, 1, 0, 0);

}
@-webkit-keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
	0%   { background-position: 0% 30%, 0 0;}
	50%  { background-position: 100% 70%, 0 0;}
	100% { background-position: 0% 30%, 0 0;}
}

.contact-line{
  border-left: 1px solid $mainYellow;
  height: 20vh;
  position: absolute;
  left: 4rem;
  margin-left: -3px;
  bottom: 0;
}

.contact-me-icon {
  position: absolute;
  list-style-type: none;
  left: 1.3vw;
  margin-left: -3px;
  bottom: 20vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.hero-social-icon{
    transition: transform 250ms;
    display: inline-block;
    color: $mainBlue;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    transition: all .3s;
    background: #444;
    &:hover{
        color: #fff
    }
}


.hero-social{
  bottom: 18vh;
  position: absolute;
}

.hero-social li{
	  list-style: outside none none;
    margin: 0px 0;
    padding: 2vh 0 0 0;
    width: 2.7vw;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.hero-social li a{
    // border:solid 1px #fff;
  	display: block;
    position: relative;
}

.hero-social span {
  bottom: 0;
  right: 2rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0;
  
  /* CSS3 Transition: */
-webkit-transition: 0.50s;
/* Future proofing (these do not work yet): */
-moz-transition: 0.50s;
transition: 0.50s;  
}
.hero-social a:hover span{ width:auto; padding:0 30px;overflow:visible; }
.hero-social a:hover{text-decoration:none;}
.hero-social a span{
color: $mainWhite;
}

.twitter{
  //&:hover, &:focus, &:active{
  background-color: rgb(85, 172, 238);
  //}

}

.linkedin{
  //&:hover, &:focus, &:active{
      background-color: rgb(0, 123, 181);
  //}
}

.github{
  // &:hover, &:focus, &:active{
  background-color: #9541C8;
  //}
}

.email{
  //&:hover, &:focus, &:active{
      background-color: #EA4C89;
  //}
  
}

.sectionHeader2{
  margin: 0vh 20vh 0 20vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button {
  display: inline-block;
  padding: 20px 30px;
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid $mainYellow;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0vw;
  margin-left: 3vw;
  margin-top:2vh;
}

.button-green {
  background: $mainYellow;
  border-color: $mainYellow;
  color: $mainYellow;
}

.button-green.button-outline {
  background: none;
}

.button-green:hover {
  background: $mainYellow;
  border-color: $mainYellow;
  color:$mainBlack;
}

.titlecontainer1{
  padding-top: 15rem;
  width: 55%;
}

.titlecontainer2 p {
  
	display: flex;
	width: 60%;
	margin-bottom: 0%;
	justify-content: center;
	align-items: center;
  text-align: center;
  font-size: 38px;

}


.titlecontainer2 p::before, p::after{
	content:'';
	border-top: 3px solid $mainYellow;
	margin: 0 10px 0 0;
	flex: 1 0 10px;
	color: $mainYellow;

}


.titlecontainer2 p::after{
	margin: 0 0 0 10px;

}

.titlecontainer2 h1{
  font-size: 80px;
  padding-left: 10%;
}
