@import '../../../style/global.scss';

.marker{
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.eclipse{
    position:relative;
    width:65vw; 
    height:60vh;
    margin:0 auto;
    overflow:hidden;
}
.eclipse:after{
    content:'';
    position:absolute;
    left:20%; top:5%;
    border-radius:100%;
    width:40vw; height:55vh;
    box-shadow: 0px 0px 0px 2000px $mainBlack;
}

.map-container{
    margin-left: 5rem;
}

