$mainBlack: #09161d;
$mainBlue: rgb(14, 101, 201);
$mainWhite: #fff;
$mainGrey: #E9EBEE;
$mainDarkGrey: #616771;
$mainLightBlue: #051318;
$title: 'Bitter', serif;
$content: 'Alegreya Sans', sans-serif;
$company: 'Cinzel', serif;
$mainYellow: #1df098;

// .scroll-container-main{
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;

// }

// .scroll-container-main div {
//   scroll-snap-align: start;
// }


// reset some browser default styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: $mainBlack;
  color: $mainWhite;
}

.component-container{
  height:100vh;
}

.center-content{
  margin: 0 20vh 0 20vh;
}

.content{
	padding-top: 10vh;
}




.mapboxgl-popup {
	max-width: 300px;
    }
    p {
	    font-size: 11px;
    }
    .mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: $mainBlack;
	border-radius: 0.5rem;
	font-size: 13px;
	font: $company;
    }

    .mapboxgl-popup-close-button{
	    padding-right: 5px;
	    font-size: 12px;
    }



      

