$mainBlack: #09161d;
$mainBlue: rgb(14, 101, 201);
$mainWhite: #fff;
$mainGrey: #E9EBEE;
$mainDarkGrey: #616771;
$mainLightBlue: #051318;
$title: 'Bitter', serif;
$content: 'Alegreya Sans', sans-serif;
$company: 'Cinzel', serif;
$mainYellow: #1df098;

// .scroll-container-main{
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;

// }

// .scroll-container-main div {
//   scroll-snap-align: start;
// }


// reset some browser default styles
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: $mainBlack;
  color: $mainWhite;
}

.component-container{
  height:100vh;
}

.center-content{
  margin: 0 20vh 0 20vh;
}

.content{
	padding-top: 10vh;
}

.marker{
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.eclipse{
    position:relative;
    width:65vw; 
    height:60vh;
    margin:0 auto;
    overflow:hidden;
}
.eclipse:after{
    content:'';
    position:absolute;
    left:20%; top:5%;
    border-radius:100%;
    width:40vw; height:55vh;
    box-shadow: 0px 0px 0px 2000px $mainBlack;
}

.map-container{
    margin-left: 5rem;
}

