@import "../style/global.scss";

.navbar-container{
  width: 100%;
  right: 0;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn-primary:hover {
    background: transparent;
  }
.navbar {
    position: fixed;;
    max-height: 7vh;
    padding-top:5rem;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 100%;
    z-index: 1;
    position:sticky;
    position:-webkit-sticky;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
  }
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    list-style-type: none;
    justify-content: right;
    display: inline-block;
  }
  .nav-links ul{
    padding-right:2rem;
    display: inline;
    
  }

  .active-nav-link{
    color:$mainWhite;
    border-bottom: 3px solid $mainBlue;
    transition: border-bottom .5s ease-in-out;
  }

  .nav li{
    float: left;
  }

  
  .nav-links a {
    display: block;
    justify-content: right;
    text-decoration: none;
    padding: 1rem 0;
    color: $mainWhite;
    transition: all 0.3s linear;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    &:hover{
        color: $mainYellow;
         text-decoration: none;
    }
  }
  
  .show-nav {
    height: 100px;
    justify-content: right;
  }
  

  @media screen and (min-width: 768px) {
    .nav-btn {
      display: none;
    }
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      justify-content: right;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-left: 4rem;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }

