@import '../../style/global.scss';
// @import "~bootstrap/scss/bootstrap";

.container-col{
	margin: 4vh 25vh 0 25vh;
}

.col {
	float: left;
	width: 50%;
      }
      
      /* Clear floats after the columns */
      .container-col:after {
	content: "";
	display: table;
	clear: both;
      }

.progress-row{
	margin: 10px 20px 10px 20px;
}

.progress{
	border-radius: 50px !important;
	background:#171b3c !important;
	height: 10px !important;
	border-top: none;
	box-shadow: 0 2px 2px #4f4c4c;
}

.progress-title{
	width: 100%;
	height: auto;
}

.progress-title h3{
	font-size: 12px;
	font-weight:700;
	color: #fff;
	// margin: 0 0 10px;
	text-transform: uppercase;
    	display: inline-block;
}

.progress .progress-bar{
	border-radius: 20px;
	// border: 1px solid #000;
	animation: animate-positive 2s;
	background:#ef2d56;
	width: 65%;
	height: 10px;
	float:right;
}

.progress-title .skill-bar-percent {
	float: right;
	padding-top:10px;
	// display: inline-block;
	color: #323232;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
    }



@-webkit-keyframes animate-positive{
	0%{
		width:0;
	}
}

@keyframes animate-positive{
	0%{
		width:0;
	}
}